beta.torontocensusvisualizer.com {
    handle /api/* {
        reverse_proxy go-bridge:8080
    }

    handle {
        root * /srv/frontend
        try_files {path} /index.html
        file_server
    }
}